<div id="<%= dom_id item %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= item.content %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Position x:</strong>
    <%= item.position_x %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Position y:</strong>
    <%= item.position_y %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Width:</strong>
    <%= item.width %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Height:</strong>
    <%= item.height %>
  </div>
  <div>
    <strong class="block font-medium mb-1">File:</strong>
    <%= item.file %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Link:</strong>
    <%= item.link %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Board:</strong>
    <%= item.board_id %>
  </div>
</div>
